.ccls-cache
git-auth
proj1/*.out
proj1/st_files/
proj2/module/*.ko
proj2/module/*.mod.c
proj2/module/*.order
proj2/module/*.symvers
proj2/module/*.cmd
proj2/module/.tmp_versions
proj2/app/*.out
proj3/module/*.ko
proj3/module/*.mod.c
proj3/module/*.order
proj3/module/*.symvers
proj3/module/*.cmd
proj3/module/.tmp_versions
proj3/app/*.out
mini-game/MiniGameController/obj/
mini-game/MiniGameController/gen/
mini-game/MiniGameController/bin/
